<?xml version="1.0" encoding="UTF-8" standalone="no"?>
<configuration>
  <commonConfig>
    <useIPv6></useIPv6>
  </commonConfig>
  <cloudFlareConfig>
    <apiToken></apiToken>
    <dnsZone></dnsZone>
    <hostName></hostName>
    <recordName></recordName>
  </cloudFlareConfig>
</configuration>
